# Core
SECRET_KEY="django-insecure-468f6992-3fca-4ece-9270-993b35931067"
DEBUG=1
LOG_JSON=true
ALLOWED_HOSTS=localhost,127.0.0.1,backend


DATABASE_URL=

# Redis cache
REDIS_URL=redis://localhost:6379/1

# CSRF (optional in dev; set in prod/CDN domains)
CSRF_TRUSTED_ORIGINS="http://localhost,http://127.0.0.1"

DEFAULT_ORG_NAME="Default Org"

KEYCLOAK_JWKS_URL=

PROMETHEUS_METRIC_NAMESPACE=